<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>【非公式】中部電力 遠州地方 停電情報 {{.Ken}}/{{.Shi}}</title>
</head>
<body>
<h1>【非公式】中部電力 遠州地方 停電情報 {{.Ken}}/{{.Shi}}</h1>
<p><a href="http://teiden.chuden.jp/p/sizuoka.html">中部電力の遠州地方の停電情報</a>を解析して町名毎に表示できるようにしています。</p>
<p>浜松、細江、浜北、掛川、磐田営業所の内容に対応しています。</p>
<h2>停電戸数：{{.Hassei}}、現在停電戸数：{{.Genzai}}、更新時間：{{.Date}}</h2>
<h2>{{.Ken}}/{{.Shi}}</h2>
<table>
{{$this := . -}}
{{range $key, $it := .Cho -}}
	<tr>
		<td><a href="/{{$this.Ken}}/{{$this.Shi}}/{{$key}}">{{$key}}</a></td>
	</tr>
{{end -}}
</table>
</body>
</html>
